.form-select-component {
    position: relative;
}

.form-select-component ul {
    position: absolute;
    background: white;
}

.form-select-component li {
    padding: .5em;
}

.form-select-component .selected {
    background: gray;
}

.selected-value {
    border-bottom: thin solid rgba(43,47,62, .3);
    color: rgba(43,47,62, .6);
    font-size: .9em;
    padding: .5em;
}

div[tabindex="-1"]:focus {
    outline: none;
}
