.input-group {

}

.form-control {

}

.submit-button {
    min-height: 30px;
    max-width: 100px;
    padding: .5em;
    background: teal;
    cursor: pointer;

}

.validation-error {
    color: red;
    min-height: 2em;
}
