.form-row {
    padding: .5em 1em;
    clear:both;
}

.input-group {
    float: left;
    width: 30%;
}

.form-control {

}

.submit-button {
    min-height: 30px;
    max-width: 100px;
    padding: .5em;
    background: teal;
    cursor: pointer;

}

.validation-error {
    color: red;
    min-height: 1.5em;
}
