body {
    font-family: 'Roboto', sans-serif;
    color: rgba(43,47,62, 1);
}

body * {
    box-sizing: border-box;
}
#app-wrapper {
    width: 100%;
}

#content {
    float: right;
}

.content-size-expand {
    width: 97%;
    transition-delay: .6s;
    transition: width .7s ease-in;
}

.content-size-shrink {
    width: 80%;
    transition: width .5s ease-out;
}

a {
    cursor: pointer;
}
