.alert {
    padding: 1em;
    border-radius: .5em;
}

.flash-success {

    background: #9CBA7F;
    color: #488214;
    border: thin solid #659D32;

}

.flash-error {
    background: #EEB4B4;
    color: #FF4040;
    border: thin solid #DB2929;
}
