
.alert {
    position: relative;
    padding: 1em;
    border-radius: .5em;
    opacity: 1;
}

.alert-hide {
    transition: opacity .5s ease-out;
    opacity: 0;
}

.alert-close {
    position: absolute;
    top: 1em;
    right: 1em;
    float: right;
    cursor: pointer;
}

.flash-success {
    background: rgba(206, 241, 173, 0.89);
    color: #8abb5f;
    border: thin solid #d1efb6;
}

.flash-error {
    background: #fbe4e4;
    color: #dc6060;
    border: thin solid #f9bdbd;
}
