#side-nav {
    position: relative;
    height: 2000px;
    float: left;
    overflow: hidden;
    background: rgb(43,47,62);
}

#side-nav ul {
    padding: 0;
}

#side-nav-toggle-button {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 1em;
    width: 1em;
    color: red;
    cursor: pointer;
    background-image: none, url('../../../../../../public/images/icons/hamburger_button.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#logo-container {
    text-align: center;
    padding: 1.5em;
    font-size: 1.5em;
    color: #9C9C9C;
}

.side-nav-expand {
    width: 20%;
    transition: width .5s ease-in;
}

.side-nav-expand ul {
    opacity: 1;
    transition-delay: .5s;
    transition: opacity .5s ease-in;
}

.side-nav-shrink {
    width: 3%;
    transition: width .5s ease-out;
}

.side-nav-shrink ul {
    opacity: 0;
    transition: opacity .5s ease-out;
}



.side-nav-links {
    font-weight: 400;
    list-style: none;
}

.side-nav-links li {
    border-bottom: 1px solid rgba(107,111,126, .2);
}

.side-nav-links li:last-child {
    border-bottom: 1px solid rgba(107,111,126, .15);
}

.side-nav-links a {
    display: inline-block;
    width: 100%;
    color: rgb(107,111,126);
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
}

.side-nav-links a:hover {
    color: rgb(167,171,186);
}


a.side-nav-link-active {
    color: rgb(167,171,186);
    background: rgb(39,43,58);
}
