#side-nav {
    height: 2000px;
    float: left;
    width: 20%;
    background: rgb(43,47,62);
}

#side-nav ul {
    padding: 0;
}

#logo-container {
    text-align: center;
    padding: 1.5em;
    font-size: 1.5em;
    color: #9C9C9C;
}

.side-nav-links {
    font-weight: 400;
    list-style: none;
}

.side-nav-links li {
    border-bottom: 1px solid rgba(107,111,126, .2);
}

.side-nav-links li:last-child {
    border-bottom: 1px solid rgba(107,111,126, .15);
}

.side-nav-links a {
    display: inline-block;
    width: 100%;
    color: rgb(107,111,126);
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
}

.side-nav-links a:hover {
    color: rgb(167,171,186);
}


a.side-nav-link-active {
    color: rgb(167,171,186);
    background: rgb(39,43,58);
}
